/* Declaration Order:
Related property declarations should be grouped together following the order:

1. Positioning
2. Box model
3. Typographic
4. Visual 
5. Misc


Stylesheet Components: 

1. GLOBAL STYLE
----
2. HEADER SECTION
	- HEADER BAR
	- NAVIGATION
3. BANNER SECTION
	- BANNER 
4. CONTENT SECTION
	- CTA BAR
	- CATEGORIES 
	- JOBS 
	- NEWS 
	- TWITTER 
5. FOOTER SECTION
	- FOOTER BAR
	- FOOTER MENU

-------------------------------------
*/

/* 1. GLOBAL STYLE */
	a{
		color: inherit;
	}

	a:hover{
		color: #58ba2b;
	}

	body{
		font-family: 'Open Sans';
	}
	
	h1 {
		font-size: 65px;
		font-weight: 700;
	}
	
	h2{
		font-size: 32px;
		text-transform: uppercase;
	}

	h2,h3,h4,h5,h6{
		color: #58ba2b;
		font-weight: 700;
	}

/* 2. HEADER SECTION */
	/* - HEADER BAR */

	header {
	    position: fixed;
	    width: 100%;
	    z-index: 100;
	    background-color: #fff;
	}

	.headerBar{
		background-color:#262626;
		color: #fff;
	}

	.social-icon{
		padding: 5px 9px;
		font-size: 16px;
		font-weight: 900;
	}

	.member-btn{
		padding: 3px 4px;
		border: 2px solid #262626;
		color: #333;
		font-size: 11px;
  		font-weight: 700;
		text-transform: uppercase;
		background-color: #d3d4d4;
	}

	.member-btn > .fa{
		padding-right: 5px;
	}

	/* - NAVIGATION */
	.logo{
		height: 100%;
	}

	.navbar{
		margin-bottom: auto;
	}

	.navbar-nav{
		margin-top: 15px;
		font-weight: 700;
	}

	.dropdown-menu{
		min-width: 100%;
	}

	.nav>li>a {
		padding-left: 27px;
    	padding-right: 27px;
		text-transform: uppercase;
	}

	.nav>li>a:focus, .nav>li>a:hover{
		background-color: #58ba2b;
    	color: #fff;
	}

	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
		background-color: #58ba2b;
	}

	.drop-icon {
		padding-left: 9px;
	}

	.navbar-toggle{
		margin-top: 19px;
		padding-right: inherit;
	}

	.icon-bar {
    background-color: #000;
    }

/* 3. BANNER SECTION */
	/* 	- BANNER  */
	.banner-box{
		position: relative;
		top: 0;
		left: 0;
	    min-height: 509px;
	    width: 100%;
	    background: url(../images/banner-bg.jpg) no-repeat;
	    background-size: contain;
	    background-attachment: fixed;
	    background-position: center 100px;
	}

	.banner-fore{
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    background-image: url(../images/lady.png);
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: center 100px;
	}

	.banner-overlay{
		background-size: contain;
		height: 100%;
		background-color: rgba(118, 120, 121, 0.75);
	}

	.banner-box .row h1{
		position: relative;
		color: #fff;
		top: 180px;
	}

	.banner-box .row .form-inline{
		position: relative;
    	top: 198px;
	}
	

	.banner-box .form-group{
		width: 100%;
	}

	.banner-box .form-control{
		width: 100%;
		height: 46px;
    	border-radius: inherit;
    	-webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
		color: #fff;
		background-color: transparent;
	}

	.form-control:focus{
		border-color: #58ba2b;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(88,186,43,.6);
	}

	.banner-box .form-group label{
		display: none;
	}

	.banner-box input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #fff;
	}
	.banner-box input[type=text]::-moz-placeholder { /* Firefox 19+ */
	  color: #fff;
	}
	.banner-box input[type=text]:-ms-input-placeholder { /* IE 10+ */
	  color: #fff;
	}
	.banner-box input[type=text]:-moz-placeholder { /* Firefox 18- */
	  color: #fff;
	}

	.btn-search{
		width: 120px;
		height: 48px;
		font-size: 22px;
		color: #fff;
		background-color: #58ba2b;
		border-radius: inherit;
    	-webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	}

	.banner-box .slogan{
    	position: relative;
    	top: 203px;
    	font-size: 34px;
    	color: #fff;
	}


/* 4. CONTENT SECTION */
	/* 	- CTA BAR */
	.cta-bar{
		height: 66px;
		background-color: #58ba2b;
	}

	.cta-btn{
		color: #fff;
	    border: #fff solid 1px;
	    padding-top: 6px;
	    padding-bottom: 6px;
	    margin-top: 16px;
	}
